.flex {
  display: flex;
  flex-direction: row;
}

.split-pair {
  justify-content: space-between;
}

.split-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-2 {
  gap: 2rem;
}

.product-img {
  width: 30%;
  height: 30%;
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 50%;
  // gap: 2rem;
  align-items: center;
}

.detail-img {
  width: 100%;
  height: 100%;
}

// .detail-title{

// }

.margin-productdetail {
  margin-left: 2rem;
  gap: 10rem;
}
